<mat-toolbar color="primary" class="fixed-top myNav">
    <div class=" container-fluid d-flex flex-row justify-content-between">
        <span routerLink="/">Dynamic Forms</span>
        <div>
            <div class="me-3 d-flex flex-row">
                <span routerLink="/dashboard/profile" class="me-4">Dashboard</span>
                <span routerLink="/forms/create" class="me-4">Create Form</span>
                <span *ngIf="!isLoggedIn() ; else logoutBtn" (click)="loginUser()">Login</span>
                <ng-template #logoutBtn>
                    <span (click)="logoutUser()">Logout</span>
                </ng-template>
            </div>
        </div>
    </div>
</mat-toolbar>