<div class="container mt-4">

    <div *ngIf="loading">
        <h1>Loading...</h1>
    </div>

    <div *ngIf="showError">
        <h1>Error loading the form</h1>
    </div>

    <div *ngIf="!loading && !showError">
        <form [formGroup]="dynamicForm" (ngSubmit)="submitResponse()" class="example-form">
            <mat-card class="rounded-4">
                <mat-card-content class="display-6">{{ this.dynamicForm.get('formName').value }}</mat-card-content>
            </mat-card>
    
            <ng-container *ngFor="let element of dynamicForm.get('completeResponse')['controls'] ; index as i">
                <mat-card class="my-4 rounded-4">
                    <app-show-text-field [elementGroup]="element" [fieldData]="fetchedForm.fields[i]" *ngIf="fetchedForm.fields[i].type === 'text'" />
                    <app-show-number-field [elementGroup]="element" [fieldData]="fetchedForm.fields[i]" *ngIf="fetchedForm.fields[i].type === 'number'" />
                    <app-show-dropdown-field [elementGroup]="element" [fieldData]="fetchedForm.fields[i]" *ngIf="fetchedForm.fields[i].type === 'dropdown'" />
                    <app-show-radio-field [elementGroup]="element" [fieldData]="fetchedForm.fields[i]" *ngIf="fetchedForm.fields[i].type === 'radioButtons'" />
                    <app-show-checkbox-field [elementGroup]="element" [fieldData]="fetchedForm.fields[i]" *ngIf="fetchedForm.fields[i].type === 'checkboxes'" />
                </mat-card>
            </ng-container>
    
            
            <div class="container m-0 p-0 d-flex flex-row justify-content-end">
                <mat-card class="d-flex flex-row p-3 rounded-4">
                    <button mat-fab color="primary" aria-label="Query Chat button" class="me-3" (click)="openChat($event)" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
                        <mat-icon>question_answer</mat-icon>
                    </button>
                    <button mat-fab color="primary" aria-label="Submit button" [disabled]="!canSubmitForm">
                        <mat-icon>done</mat-icon>
                    </button>
                </mat-card>
            </div>
        </form>

        <div class="offcanvas offcanvas-end canvas-index" data-bs-scroll="true" data-bs-backdrop="false" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header mb-0 pb-0">
                <h2 class="offcanvas-title" id="offcanvasRightLabel">Query Chat</h2>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" (click)="closeChat()"></button>
            </div>
            <div class="offcanvas-body d-flex flex-column border border-top pt-2" *ngIf="chatOpened">
                <app-form-chat class="h-100 rounded-2" [formId]="formId" [formTitle]="fetchedForm.title"></app-form-chat>
            </div>
        </div>


        <div class="offcanvas offcanvas-end"  tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasScrollingLabel">
            
        </div>
    </div>
</div>