.question {
    min-width: 200px;
    width: 57%;
}
.type-selector {
    min-width: 200px;
    width: 35%;
}
.options {
    width: 100%;
}
.option-input {
    width: 50%;
    min-width: 250px;
    max-width: 650px;
}