<div class="container-fluid">
    <p class="display-5 mb-5 mt-3 ms-2">My Forms</p>
    <div *ngFor="let form of myForms; index as i" class="card container-fluid mb-4">
        <div class="card-body d-flex flex-row container-fluid justify-content-between">
            <div>
                <p class="card-title display-6">{{ form.title }}</p>
                <div>
                    <p>Editors - {{ form.editors }}</p>
                    <p>Responses - {{ form.responses }}</p>
                </div>
            </div>
            <div class="d-flex flex-row flex-wrap">
                <div class="d-flex flex-column justify-content-around mx-3">
                    <a class="btn btn-warning container" (click)="editForm(form._id)">Edit Form</a>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle container-fluid" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{ form.mode }}
                        </button>
                        <ul class="dropdown-menu">
                            <!-- <li class="dropdown-item" (click)="switchFormMode('draft', form._id)">Draft</li> -->
                            <li class="dropdown-item" (click)="switchFormMode('active', form._id, i)">Active</li>
                            <li class="dropdown-item" (click)="switchFormMode('inactive', form._id, i)">Inactive</li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-around mx-3">
                    <a class="btn btn-primary container" (click)="showForm(form._id)">View Form</a>
                    <a class="btn btn-success container" (click)="showResponses()">View Responses</a>
                </div>
            </div>
        </div>
    </div>
</div>