<div>
    <form [formGroup]="formElementGroup" (ngSubmit)="finalizeElement()" class="example-form p-4">

        <div class="container d-flex flex-row justify-content-between pt-1 flex-wrap">
            <mat-form-field class="question">
                <mat-label>Question</mat-label>
                <input matInput formControlName="question">
            </mat-form-field>
    
            <mat-form-field class="type-selector">
                <mat-label>Select</mat-label>
                <mat-select formControlName="type" (closed)="getType()">
                    <mat-option value="text">Text</mat-option>
                    <mat-option value="number">Number</mat-option>
                    <mat-option value="dropdown">Dropdown</mat-option>
                    <mat-option value="radioButtons">Radio Buttons</mat-option>
                    <mat-option value="checkboxes">Checkboxes</mat-option>
                </mat-select>
            </mat-form-field>
        </div>



        <div *ngIf="recievedData.type === 'text'">
            <app-form-text-field></app-form-text-field>
        </div>
        <div *ngIf="recievedData.type === 'number'">
            <app-form-number-field></app-form-number-field>
        </div>
        <div *ngIf="recievedData.type === 'dropdown'">
            <app-form-dropdown-field 
                [fields]="formElementGroup.get('options')?.value" 
                (optionsEmitter)="optionsEmitterHandler($event)"
            ></app-form-dropdown-field>
        </div>
        <div *ngIf="recievedData.type === 'radioButtons'">
            <app-form-radio-buttons-field></app-form-radio-buttons-field>
        </div>
        <div *ngIf="recievedData.type === 'checkboxes'">
            <app-form-checkboxes-field></app-form-checkboxes-field>
        </div>

        <div class="container mb-3 d-flex flex-row justify-content-end align-items-center pt-4 border-top">
            <mat-slide-toggle color="primary" class="border-end me-4 py-3 pe-4" formControlName="isRequired">Required</mat-slide-toggle>

            <button mat-fab color="primary" class="me-3" aria-label="Delete Button" (click)="deleteElement($event)">
                <mat-icon>delete</mat-icon>
            </button>

            <button mat-fab color="primary" class="me-sm-3" aria-label="Submit Element Button">
                <mat-icon>done</mat-icon>
            </button>
        </div>

    </form>

</div>