<div class="container-fluid">

    <div *ngIf="loading">
        <h1>Loading...</h1>
    </div>

    <div *ngIf="showError">
        <h1>Error loading the form</h1>
    </div>

    <div *ngIf="!loading && !showError">
        <form [formGroup]="dynamicForm" (ngSubmit)="submitResponse()" class="example-form">
            <mat-card class="rounded-4">
                <mat-card-content class="display-6">Dynamic Form</mat-card-content>
            </mat-card>
    
            <ng-container *ngFor="let element of dynamicForm.get('completeResponse')?.value ; index as i">
                <mat-card class="my-4 rounded-4">
                    <app-form-element [defaultData]="element" [index]="i" (elementEmitter)="elementEmitterHandler($event)"></app-form-element>
                </mat-card>
            </ng-container>
    
            <div class="container m-0 p-0 d-flex flex-row justify-content-end">
                <mat-card class="d-flex flex-row p-3 rounded-4">
                    <button mat-raised-button color="primary" aria-label="Example icon button with a plus one icon" [disabled]="!canSubmitForm">Submit</button>
                </mat-card>
            </div>
        </form>
    </div>
</div>