<nav id="sidebarMenu" class="d-block bg-white sidebar ps-3 pe-1 pt-4">
	<div class="position-sticky">
		<div class="list-group list-group-flush mx-3">
			<a class="list-group-item list-group-item-action py-3 ripple rounded-2 my-2" routerLink="/dashboard/profile" routerLinkActive="active">
				<i class="fas fa-tachometer-alt fa-fw me-3"></i><span>My Profile</span>
			</a>
			<a class="list-group-item list-group-item-action py-3 ripple rounded-2 my-2" routerLink="/dashboard/myForms" routerLinkActive="active">
				<i class="fas fa-chart-area fa-fw me-3"></i><span>My Forms</span>
			</a>
			<a class="list-group-item list-group-item-action py-3 ripple rounded-2 my-2" routerLink="/dashboard/myResponses" routerLinkActive="active">
				<i class="fas fa-lock fa-fw me-3"></i><span>My Responses</span>
			</a>
		</div>
	</div>
</nav>