<!-- Pills content -->
<div class="">
    <div class="tab-pane show" id="pills-register" aria-labelledby="tab-register">
        <form [formGroup]="registerForm" (ngSubmit)="submitForm($event)">
            <div class="text-center mb-3">
                <p class="display-5">Sign up</p>
            </div>

            <!-- Name input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="registerName">Name</label>
                <input type="text" id="registerName" class="form-control" formControlName="fullname"/>
            </div>

            
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="registerEmail">Email</label>
                <input type="email" id="registerEmail" class="form-control" formControlName="email"/>
            </div>
            
            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="registerPassword">Password</label>
                <input type="password" id="registerPassword" class="form-control" formControlName="password"/>
            </div>
            
            <!-- Repeat Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="registerRepeatPassword">Repeat password</label>
                <input type="password" id="registerRepeatPassword" class="form-control" formControlName="repeatPassword"/>
            </div>
            
            <!-- Gender input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="registerGender">Gender</label>
                <input type="text" id="registerGender" class="form-control" formControlName="gender"/>
            </div>

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
                    aria-describedby="registerCheckHelpText" formControlName="TAC"/>
                <label class="form-check-label" for="registerCheck">
                    I have read and agree to the terms
                </label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-3 py-2 container" [disabled]="isDisabled">Sign Up</button>
        </form>

        <div class="card d-flex flex-column justify-content-center align-items-center p-2 pt-4 text-danger mt-4 border border-danger" *ngIf="showError">
            <h4>{{ errorMessage }}</h4>
        </div>
    </div>
</div>
<!-- Pills content -->